$color-header: black;
$color-header-hover: #262626;
$color-text: white;
$color-entry-background: rgba(0, 0, 0, 0.8);
$color-entry-trash: rgba(110, 110, 110, 0.8);
$color-entry-trash-hover: rgb(182, 182, 182);
