@import '../../styles/settings/index';

.header {
  background-color: $color-header;
  color: $color-text;
  width: 100vw;
  height: $header-height;
  min-height: $header-min-height;
  max-height: $header-max-height;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;

  .container {
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-family: $font-logo;
      font-size: $font-size-logo;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $color-text;
      text-decoration: none;
      @media (max-width: 700px) {
        font-size: $font-size-logo / 1.2;
      }

      .logo-text {
        padding-left: $font-size-logo / 2;
        margin: 0;
      }
    }
  }
}
