@import "../settings/index";

.add-entry-form {
  width: 50vw;
  height: auto;
  background: $color-entry-background;
  border-radius: 30px;
  color: $color-text;
  font-family: $font-logo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
  font-size: $font-size-entry;
  padding: 20px;
  @media (max-width: 700px) {
    width: 80vw;
    font-size: 6vw;
  }

  h2 {
    font-size: $font-size-entry * 1.5;
    margin-bottom: 10px;
    @media (max-width: 500px) {
      font-size: 8vw;
    }
  }

  label {
    margin: 11px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media (max-width: 1100px) {
      margin: 10px;
    }

    input, textarea {
      font-family: $font-text;
      font-size: $font-size-entry / 1.7;
      margin-left: 15px;
      padding: 3px;
      border-radius: 5px;
      width: 10vw;
      @media (max-width: 1100px) {
        width: 17vw;
      }
      @media (max-width: 700px) {
        width: 40vw;
      }

      &:focus {
        border: 3px solid #ff8000;
      }

      &::placeholder {
        font-family: $font-text;
        font-size: $font-size-entry / 1.8;
      }
    }

    .goal-input {
      width: 15vw;
      @media (max-width: 1100px) {
        width: 17vw;
      }
      @media (max-width: 800px) {
        width: 25vw;
      }
      @media (max-width: 500px) {
        width: 38vw;
      }
    }

    textarea {
      display: block;
      height: 10vh;
      width: 30vw;
      @media (max-width: 700px) {
        width: 40vw;
      }
    }
  }

  .form-photo {
    width: 40vw;
    @media (max-width: 700px) {
      width: 70vw;
    }

    label {
      .form-photo-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        cursor: pointer;
      }
    }
  }
  

  .btn {
    text-decoration: none;
    color: $color-text;
    padding: (20vh - $header-height - $font-size-base/2) / 2;
    background: $color-header-hover;
    border-radius: 5px;
    margin: 15px;
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
    font-size: $font-size-entry;

    &:hover {
      filter: brightness(150%);
    }
    &:active {
      filter: brightness(200%);
    }
  }

  .entry-statement {
    padding-top: 10px;
  }
}
